*.suo
Hello-Microservices/obj/
Hello-Microservices/bin/
ShoppingCart.Library/bin/
ShoppingCart.Library/obj/
ApiGateway-Console/bin/
LoyaltyProgram-UnitTests/bin/
LoyaltyProgram-UnitTests/obj/
ApiGateway-Console/obj/
LoyaltyProgram-IntegrationTest/obj/
LoyaltyProgram-IntegrationTest/bin/
